@model TeaShopApi.WebUI.Dtos.SubscribeDtos.CreateSubscribeDto


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<div class="newsletter_section">
    <div class="newsletter_left">
        <div class="footer_logo"><img src="~/Template/images/footer-logo.png"></div>
    </div>
    <div class="newsletter_right">
        <h5 class="newsletter_taital">Son Gelişmelerden Haberdar Olun!</h5>
        <div class="subscribe_main">
            <input class="form-control" type="email" placeholder="Email Adresiniz" asp-for="Mail" required="">
            <button class="btn btn-style btn-primary" type="submit" onclick="subscribe()">Abone Ol</button>
        </div>
    </div>
</div>

<script>
    function subscribe() {
        Swal.fire({
            title: 'E-Bülten için mail adresiniz sisteme kaydedildi.',
            icon: 'success',
            showCancelButton: false,
            confirmButtonText: 'Tamam'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Default/Index";
            }
        });
    }
</script>