@model TeaShopApi.WebUI.Dtos.ContactDefaultDtos.ResultContactDefaultDto

﻿<div class="contact_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            @await Html.PartialAsync("~/Views/Default/SendMessage.cshtml")
            <div class="col-md-6">
                <div class="map_main">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12597.906993456943!2d32.47388230581674!3d37.872531998411525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d085a82ab352ad%3A0x361fb79cc1c486b0!2sAlaaddin%20Tepesi%20Park%C4%B1!5e0!3m2!1str!2str!4v1702285583945!5m2!1str!2str" width="600" height="600" frameborder="0" style="border:0; width: 100%;"
                                allowfullscreen=""></iframe>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>