@model CreateContactDefaultDto
@{
    ViewData["Title"] = "CreateContactDefault";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<form method="post">
    <label>İsim</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <label>Konu</label>
    <input type="text" class="form-control" asp-for="Subject" />
    <br />
    <label>Mail</label>
    <input type="text" class="form-control" asp-for="Email" />
    <br />
    <label>Mesaj</label>
    <input type="text" class="form-control" asp-for="Message" />
    <br />
    <button class="btn btn-primary">Mesaj Ekle</button>
</form>
