<nav class="pcoded-navbar  ">
	<div class="navbar-wrapper  ">
		<div class="navbar-content scroll-div ">

			<div class="">
				<div class="main-menu-header">
					<img class="img-radius" src="~/flat-able-lite/dist/assets/images/user/avatar-2.jpg" alt="User-Profile-Image">
					<div class="user-details">
						<span>Saadet Çatak</span>
						<div id="more-details">Yönetim Paneli<i class="fa fa-chevron-down m-l-5"></i></div>
					</div>
				</div>
				<div class="collapse" id="nav-user-link">
					<ul class="list-unstyled">
						<li class="list-group-item"><a href="user-profile.html"><i class="feather icon-user m-r-5"></i>View Profile</a></li>
						<li class="list-group-item"><a href="#!"><i class="feather icon-settings m-r-5"></i>Settings</a></li>
						<li class="list-group-item"><a href="auth-normal-sign-in.html"><i class="feather icon-log-out m-r-5"></i>Logout</a></li>
					</ul>
				</div>
			</div>


			<div class="nav pcoded-inner-navbar ">

				<a href="/Areas/Dashboard/Index/" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
				<a href="/Areas/About/Index/" class="nav-item nav-link"><i class="fa fa-list-ol me-2"></i>Hakkımızda</a>
				<a href="/Areas/Drink/Index/" class="nav-item nav-link"><i class="fa fa-chalkboard me-2"></i>İçecek Listesi</a>
				<a href="/Users/Index/" class="nav-item nav-link"><i class="fa fa-user-friends me-2"></i>Öğrenciler</a>
				<a href="/Contact/Index/" class="nav-item nav-link"><i class="fa fa-comment me-2"></i>Mesajlar</a>
				<a href="/Statistic/Index/" class="nav-item nav-link"><i class="fa fa-chart-pie me-2"></i>İstatislikler</a>
				<a href="/SocialMedia/Index/" class="nav-item nav-link"><i class="fa fa-network-wired me-2"></i>Sosyal Medya</a>
				<a href="/Map/Index/" class="nav-item nav-link"><i class="fa fa-network-wired me-2"></i>Haritalar</a>
				<a href="/Role/Index/" class="nav-item nav-link"><i class="fa fa-paint-roller me-2"></i>Roller</a>
				<a href="/RoleAssign/Index/" class="nav-item nav-link"><i class="fa fa-car-alt me-2"></i>Rol Atama</a>
				<a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Grafikler</a>
				<a href="chart.html" class="nav-item nav-link"><i class="fa fa-receipt me-2"></i>Raporlar</a>
				<a href="/Settings/Index/" class="nav-item nav-link"><i class="fa fa-cog me-2"></i>Ayarlar</a>


			</div>



			<div class="card text-center">
				<div class="card-block">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<i class="feather icon-sunset f-40"></i>
					<h6 class="mt-3">Ana Sayfaya Dön</h6>
					<a href="/Default/Index/" target="_blank" class="btn btn-primary btn-sm text-white m-0">Ana Sayfa</a>
				</div>
			</div>

		</div>
	</div>
</nav>