@model List<TeaShopApi.WebUI.Dtos.SocialMediaDtos.ResultSocialMediaDto>

<div class="social_icon">
    @foreach(var item in Model)
    {
    <ul>
        <li><a href="#"><img src="@item.URL"></a></li>
    </ul>
    }
</div>