@model List<TeaShopApi.WebUI.Dtos.TestimonialDtos.ResultTestimonialDto>


@{
    var active = "";
    int count = 1;
}

<div class="clients_section layout_padding">
    <div id="custum_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @foreach (var item in Model)
            {
                if (count == 1)
                {
                    active = "active";
                    count++;
                }
                else
                {
                    active = "";
                }

                <div class="carousel-item @active">
                    <div class="container">
                        <h3 class="clients_taital">Müşteri Yorumları</h3>
                        <p class="clients_text">
                            @item.TestimonialComment
                        </p>
                        <div class="client_img"><img src="@item.TestimonialImageUrl" class="rounded-circle" WIDTH="150" HEIGHT="120"></div>
                        <h1 class="louis_text">@item.TestimonialName</h1>
                        <h1 class="smyth_text">Müşteri</h1>
                        <div class="border"></div>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#custum_slider" role="button" data-slide="next">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#custum_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>