
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>TeaShop</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/Template/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="~/Template/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/Template/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/Template/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/Template/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="~/Template/css/owl.carousel.min.css">
    <link rel="stylesoeet" href="~/Template/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Template/https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen">
</head>

<body>
    <!-- header section start -->
    <div class="header_section">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo"><a href="index.html"><img src="~/Template/images/logo.png"></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="index.html">ANA SAYFA</a>
                    <a class="nav-item nav-link" href="about.html">HAKKIMIZDA</a>
                    <a class="nav-item nav-link" href="teashop.html">ÜRÜNLER</a>
                    <a class="nav-item nav-link" href="pricing.html">REFERANSLAR</a>
                    <a class="nav-item nav-link" href="testimonies.html">İLETİŞİM</a>
                    <a class="nav-item nav-link" href="/Login/Index/">GİRİŞ YAP</a>
                </div>
            </div>
            <div class="login_menu">
                <a href="#"><img src="~/Template/images/search-icon.png"></a>
            </div>
        </nav>

        @RenderBody()
        
        
        <div class="container">
            <div class="play_icon"><a href="#"><img src="~/Template/images/play-icon.png"></a></div>
        </div>
        <!-- banner section end -->
    </div>

    <div class="footer_section layout_padding">
        <div class="container">

            @await Html.PartialAsync("~/Views/Default/_SubscribePartial.cshtml")


            <div class="footer_taital_main">
                <div class="row">
                    <div class="col-lg-3 col-sm-12">
                        <h2 class="useful_text">Hakkımızda</h2>
                        <p class="ipsum_text">
                            1980 yılında sizlere hizmet vermeye başladığımız günden bu yana siz kıymetli müşterilerimize her zaman daha iyisini sunmak için çalışmalarımıza devam ediyoruz. 
                        </p>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <h2 class="useful_text">Menü</h2>
                        <div class="footer_links">
                            <ul>
                                <li><a href="index.html">Ana Sayfa</a></li>
                                <li><a href="about.html">Hakkımızda</a></li>
                                <li><a href="services.html">Hizmetler</a></li>
                                <li><a href="contact.html">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                   
                </div>
                <h1 class="follow_text">Bizi Takip Et!</h1>
                
                @await Component.InvokeAsync("_SocialMediaListComponentPartial")


            </div>
        </div>
    </div>
    <!-- footer section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
            <p class="copyright_text">
                Copyright @DateTime.Now.Year All Right Reserved By.<a href="https://html.design">
                    Free html
                    Templates
                </a> Distributed by. <a href="https://themewagon.com">ThemeWagon</a>
            </p>
            </p>
        </div>
    </div>
    <!-- copyright section end -->
    <!-- Javascript files-->
    <script src="~/Template/js/jquery.min.js"></script>
    <script src="~/Template/js/popper.min.js"></script>
    <script src="~/Template/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/js/jquery-3.0.0.min.js"></script>
    <script src="~/Template/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/Template/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Template/js/custom.js"></script>
    <!-- javascript -->
    <script src="~/Template/js/owl.carousel.js"></script>
    <script src="/Template/https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

    </script>
    <script>
        $(document).ready(function () {
            // Add minus icon for collapse element which is open by default
            $(".collapse.show").each(function () {
                $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
            });

            // Toggle plus minus icon on show hide of collapse element
            $(".collapse").on('show.bs.collapse', function () {
                $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
            }).on('hide.bs.collapse', function () {
                $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
            });
        });
    </script>
</body>

</html>